.app-header {
  background-color: var(--clr1);
  color: var(--clr1bg);
  padding: 1em;
 
}
.logo{
  color: var(--clr1bg-light);
  font-size: 1.5rem;
}


.icon-container{
  display: flex;
}

@media(min-width: 900px) {

.header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



.app-nav {
    display: flex;
    gap: 15px;
}



.header-for-nerrow-width{
  display: none;
}
}

@media(max-width: 899px) {
  .header-container{
    display: none;
  }

  .header-for-nerrow-width{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
  }

  .open{
    display: block;
  }

  .close{
    display: none;
  }

  .login-page{
    background-color: var(--clr1);
    position: absolute;
    z-index: 10;
   margin-block:-240% ;
   transform: translate(-50%);
   padding: 2rem;
   color: var(--clr1bg-light);
    border-radius: 1rem;

  }

  .login-page a{
    font-size: 1rem;
    font-weight: 100;
    text-decoration: underline;
  }

  .login-page input{
    font-size: 7vw;
    margin: 1rem;
    width: 40vh;
  }

  .login-page button{
    font-size: 5vw;
    margin-inline-start: 50%;
    translate: -50%;
  }
  
}
