.toy-editor form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

.toy-editor form input{
    font-size: 1.5rem;
    margin: 1rem;
}

.toy-editor form button{
    font-size: 1.5rem;
    margin: 1rem;
    border-radius: 1rem;
}

small{
    font-size: 1rem;
    color:red;
}

.upload-preview{
    text-align: center;
}

.upload-preview input{
margin-inline-start: 50%;}