.toy-preview {
    text-align: center;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 0.5rem;

}
.toy-preview h4{
    text-transform: capitalize;
    color: black;
}

.toy-preview img {
    max-width: 100px;
    margin-inline: auto;   
}

.new-review{
    max-width: 800px;
   
}