:root {
  --clr1: #2807bc;
  --clr2: #ae2012;

  --clr1bg: rgb(20, 178, 231);
  --clr1bg-light: #c1f1e1;
  --clr2bg: yellow;
  --clr2bg-light: #e9d8a6;

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

  --clr1-transperent:  rgba(44, 12, 207,0.2);

} 